###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/composer.lock
/symfony.lock
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
node_modules
