
#logo {
    align-items: center;
}

.tox .tox-tbtn {
    color: brown;
}

.tox .tox-promotion-link {
    display: none !important;
}



.justify-content-between {
    justify-content: space-between !important;

}

.button-title {
    vertical-align: middle;
}

.add-circle {
    border: 2px solid blue;
    border-radius: 10%;
    margin-left: 1rem;
}

.container {
    text-align: center;
}

.cutpage{ 
    display: flex ;
    justify-content: space-around ;

}

.widthpage{
    /*width: 47%;*/
   
}

.pagewikiditor{
    position: fixed;
   
}

